@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --white: #FFF;
    --litgrey: #E8EFF2;
    --dorange: #F16718;
    --lorange: #FF9B62;
    --lblack: #162542;
    --grey: #7B8BAD;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    padding-top: 23px;
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    background-color: var(--white);
    font-family: 'Barlow';
    border: 2px solid red;

}

.headerbox{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--dorange);
 
}

.Tm{
    font-size: 14px;
    color: var(--white);
    margin-top: 5px;
    margin-left: 5px;
}

.headbox2{
    border: none;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--litgrey)
}

.preorder{
 color: var(--lblack);
font-size: 12px;
font-weight: 700;
line-height: 26px; 
text-transform: uppercase;

}


header{
    display: flex;
    justify-content: space-around;
    width: 327px;
    height: 48px;
    gap: 40%;
}


.topText{
    margin: 60px 24px 0 24px;
    color: var(--lblack);
    font-size: 48px;
    font-weight: 900;
    line-height: 48px; 
     text-transform: uppercase;
    width: 327px;

}


.greyText{
    color: var(--grey);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 24px;
    margin-top: 30px;
}


.orangebox{
    width: 150px;
    height: 48px;
    background-color: var(--dorange);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    margin-top: 32px;
}

.pre-order{
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; 
    text-transform: uppercase;
}


.releaseText{
    margin-right: 20px;
    margin-top: 45px;
    color: var(--grey);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px; 
    text-transform: uppercase;
}

.midbox{
    gap: 25px;
    display: flex;
    justify-content: space-around;
}

.image1{
    margin-top: 45px;
    border-radius: 8%;
    margin-left: 40px;
}

.imagetext{
    overflow: hidden;
}


.orangekey{
    background-color: var(--dorange);
    border-radius: 8%;
    margin-left: -20px;
    
}

.photo2{
    overflow: hidden;
}


.insidebox2{
 margin-top:20px ;
display: flex;
flex-direction: row;
gap: 20px;

}

.klaviatura3{
    border-radius: 8%;

}

.text1{
    margin-top: 60px;
color: var(--lblack);
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: 36px; 
text-transform: uppercase;
}


.text2{
 margin-top: 30px;
color: var(--grey);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px; 
width: 320px;
margin-left: 25px;
}

.grids{
    display: grid;
    justify-content: center;
}

.grid1{
margin-top: 100px;
margin-left: 150px;
}

.grid1text{
margin-top: 25px ;
 color: var(--lblack);
 text-align: center;
font-size: 24px;
font-weight: 900;
line-height: 28px; /* 116.667% */
text-transform: uppercase;
}


 .grid1p{
 margin-top: 30px;
 margin-left: 17px;
 margin-right: 17px;
color: var(--grey);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px; 
 }   


 .grids2{
    display: grid;
    justify-content: center;
 }


 .grid2text{
 margin-top: 25px;
color: var(--lblack);
text-align: center;
font-size: 24px;
font-weight: 900;
line-height: 28px; 
text-transform: uppercase;
 }

 .grid2{
 margin-top: 30px;
margin-left: 150px;
 }


 .grids2p{
 margin-top: 30px;
 margin-left: 17px;
 margin-right: 17px;
color: var(--grey);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px; 
 }

 .grids3{
    display: grid;
    justify-content: center;
 }

 .grid3text{
 margin-top: 25px;
color: var(--lblack);
text-align: center;
font-size: 24px;
font-weight: 900;
line-height: 28px; 
text-transform: uppercase;
 }

 .grid3{
margin-top: 30px;
margin-left: 150px;
 }


.grids3p{
 margin-top: 30px;
 margin-left: 17px;
 margin-right: 17px;
color: var(--grey);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px; 
}

.grids4{
    display: grid;
    justify-content: center;
}

.grid4text{
 margin-top: 25px;
color: var(--lblack);
text-align: center;
font-size: 24px;
font-weight: 900;
line-height: 28px; 
text-transform: uppercase;
}

.grid4{
margin-top: 30px;
margin-left: 150px;
}

.grids4p{
 margin-top: 30px;
 margin-left: 17px;
 margin-right: 17px;
color: var(--grey);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px; 
}

.undertext{
    display: flex;
    justify-content: center;
}

.lasttext{
 margin-bottom: 30px;
 margin-top: 30px;
color: var(--grey);
font-size: 16px;
font-weight: 500;
line-height: 26px;
}

.gridsfather{
    display: grid;
    grid-template-columns: auto;
}

.greybox1{
    display: none;
    margin-top: 30px;
    width: 127px;
    height: 220px;
    background-color:#E8EFF2;
    border-radius: 20% 0 0 20%;
}

.greybox2{
    display: none;
    margin-top: 55px;
    width: 127px;
    height: 220px;
    background-color:#E8EFF2;
    border-radius: 0 20% 20% 0;
}